In [1]:
import pickle 
import pandas as pd

In [2]:
# Load the decision tree model from 'final_pipeline1.pkl'
with open('donePipeline.pkl', 'rb') as file_2:
    loaded_model_dt = pickle.load(file_2)

In [6]:
# Membuat Data Baru

data_inf = {
    # "ID": [1, 2, 3],
    "Warehouse_block": ['D', 'A', 'B'],
    "Mode_of_Shipment": ['Flight', 'Flight', 'Ship'],
    "Customer_care_calls": [4, 2, 3],
    "Customer_rating": [5, 2, 3],
    "Cost_of_the_Product": [183, 176, 216],
    "Prior_purchases": [3, 2, 5],
    "Product_importance": ['low', 'medium', 'low'],
    # "Gender": ['F', 'M', 'M'],
    "Discount_offered": [44, 48, 10],
    "Weight_in_gms": [3088, 3374, 2484],
    # "Rot": [1, 0, 0],
}

# Membuat DataFrame dari data baru
data_inf = pd.DataFrame(data_inf)

# Menampilkan data baru
data_inf

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Discount_offered,Weight_in_gms
0,D,Flight,4,5,183,3,low,44,3088
1,A,Flight,2,2,176,2,medium,48,3374
2,B,Ship,3,3,216,5,low,10,2484

In [7]:
y_pred_inf = loaded_model_dt.predict(data_inf)

y_pred_inf

array([1, 1, 1])